name: Deploy to Firebase Hosting
on:
  push:
    branches:
      - main # Zmień na master, jeśli takiej używasz
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm ci && npm run build # Jeśli nie masz buildu, usuń tę linię
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}'
          channelId: live
          projectId: censouircraft # Wpisz tu ID swojego projektu z Firebase
